/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anta', sans-serif;

}

body {
    /* font-family: "Poppins", sans-serif; */
    font-family: "Anta", sans-serif;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

.container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: auto;
}

.logoutbtn {
    border: none;
    margin: auto;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    background: #f04;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.bg {
    flex: 5;
    background-image: url(assets/bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-position: center;
}

.form {
    flex: 3;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form button {
    padding: 10px 6px;
    height: 50px;
    width: 50%;
    border: aliceblue;
    border-radius: 55px;
    background-color: #eeeeee;
    color: black;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: -1px 2px 8px 1px #3a3a3a42;
    gap: 20px;
    display: flex;
    align-items: center;
}

.form button:hover {
    background-color: #f2f2f2;
}

.form button span {
    width: 40px;
    height: 40px;
    background-image: url(assets/glogo.png);
    background-size: cover;
    background-position: center;
    display: inline-block;
    border-radius: 50%;
}


@media (max-width: 768px) {
    section {
        justify-content: center;
    }

    .bg {
        position: absolute;
    }

    .form {
        position: absolute;
    }

    .form button {
        width: 100%;
    }
}